@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');


footer#site-footer section.horizontal-footer-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

footer#site-footer section.horizontal-footer-section#footer-top-section {
    justify-content: center;
}

footer#site-footer section.horizontal-footer-section#footer-bottom-section {
    padding: 1.32rem 0;
    margin: 2rem 0 1.32rem 0;
    border-top: 0.05rem solid #666666;
}

footer#site-footer #footer-social-buttons {
    justify-self: flex-end;
    margin: 10px auto;
}

#footer-social-buttons svg {
    transition: all 0.3s ease;
    margin: 0 5px;
    fill: var(--white);
}
#footer-social-buttons svg:hover {
   fill: var(--primary);
}
#footer-social-buttons a {
   text-decoration: none;
   color: inherit;
}

@media screen and (min-width:500px) {
    footer#site-footer #footer-social-buttons {
        margin: 0;
        margin-left: auto;
    }
}