.main-container {
    max-width: 600px;
    margin: auto;
    margin-top: 80px;
}

.svg-icon-bg {
    background-color: #fcfcfc;
    background-image: radial-gradient(circle, var(--primary) 1px, #00000000 1px);
    background-size: 1.5rem 1.5rem;
    text-align: center;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

.icon-type {
    margin-bottom: 30px;
}

.svg-icon-bg svg {
    width: 5rem;
    height: 5rem;
}

.btn {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 50px auto;
}

.btn button:nth-child(1) {
    width: max-content;
    font-size: clamp(0.5rem, 1vw + 0.5rem, 1rem);
    border: 2px solid var(--primary);
    background-color: var(--primary);
    color: var(--white);
    transition: 0.2s ease;
    margin-right: 10px;

}

.btn button:nth-child(1):hover {
    background-color: transparent;
    color: var(--black);
}


.btn button:nth-child(2) {
    background-color: #f0f0f0;
    color: var(--black);
    cursor: not-allowed;
    opacity: 0.5;
    margin-left: 10px;
    width: max-content;
    font-size: clamp(0.5rem, 1vw + 0.5rem, 1rem);
}

.btn a {
    text-decoration: none;
    color: inherit;
}

.btn button {
    font-size: 15px;
    border: none;
    width: 100%;
    max-width: 200px;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

button svg {
    margin-left: 10px;
}

.reminder_for_small_devices {
    display: none;
    text-align: center;
    font-size: 12px;
    animation: blink 1s ease infinite alternate-reverse;
    margin-bottom: 5px;
    color: var(--black);
}

@keyframes blink {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

.code-var {
    margin: 20px auto;
}

.bl-c {
    color: #c00;
}

.html-code p {
    margin-bottom: 10px;
}

.html-code {
    position: relative;
    color: var(--black);
}

.copy-code {
    position: absolute;
    top: 0;
    right: 0;
}

.code-bg {
    overflow-x: scroll;
    padding: 1.25rem !important;
    margin-bottom: 1.5rem;
    background-color: #333;
    border-radius: 0.25rem;
    position: relative;
}

.code-bg::-webkit-scrollbar {
    width: 0;
}

pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
    color: #fff;
}

/* code color */

.codeColor .p {
    color: #fff;
}

.codeColor .c {
    color: #727272
}

.codeColor .ch {
    font-style: italic;
    color: #60a0b0
}

.codeColor .cm {
    color: #727272
}

.codeColor .cp {
    color: #008085
}

.codeColor .cpf {
    color: #007020
}

.codeColor .c1 {
    color: #727272
}

.codeColor .cs {
    color: #727272
}

.codeColor .gd {
    background-color: #fcc;
    border: 1px solid #c00
}

.codeColor .ge {
    font-style: italic
}

.codeColor .gr {
    color: #f00;
}

.codeColor .gh {
    color: #030
}

.codeColor .gi {
    background-color: #cfc;
    border: 1px solid #0c0
}

.codeColor .go {
    color: #aaa
}

.codeColor .gp {
    color: #009;
}

.codeColor .gs {
    font-weight: 700
}

.codeColor .gu {
    color: #030
}

.codeColor .gt {
    color: #9c6
}

.codeColor .gl {
    text-decoration: underline
}

.codeColor .k {
    color: #069
}

.codeColor .kc {
    color: #069
}

.codeColor .kd {
    color: #069
}

.codeColor .kn {
    color: #069
}

.codeColor .kp {
    color: #069
}

.codeColor .kr {
    color: #069
}

.codeColor .kt {
    color: #078
}

.codeColor .m {
    color: #c24f19
}

.codeColor .mb {
    color: #40a070
}

.codeColor .mf {
    color: #c24f19
}

.codeColor .mh {
    color: #c24f19
}

.codeColor .mi {
    color: #c24f19
}

.codeColor .il {
    color: #c24f19
}

.codeColor .mo {
    color: #c24f19
}

.codeColor .s {
    color: #d73038;
    color: #ffd000;
}

.codeColor .sa {
    color: #4070a0
}

.codeColor .sb {
    color: #c30
}

.codeColor .sc {
    color: #c30
}

.codeColor .dl {
    color: #4070a0
}

.codeColor .sd {
    font-style: italic;
    color: #c30
}

.codeColor .s2 {
    color: #c30
}

.codeColor .se {
    color: #c30
}

.codeColor .sh {
    color: #c30
}

.codeColor .si {
    color: #a00
}

.codeColor .sx {
    color: #c30
}

.codeColor .sr {
    color: #337e7e
}

.codeColor .s1 {
    color: #c30
}

.codeColor .ss {
    color: #fc3
}

.codeColor .na {
    color: #006ee0;
    color: #3cff00;
}

.codeColor .nb {
    color: #366
}

.codeColor .nc {
    color: #168174
}

.codeColor .no {
    color: #360
}

.codeColor .nd {
    color: #6b62de
}

.codeColor .ni {
    color: #727272
}

.codeColor .ne {
    color: #c00
}

.codeColor .nf {
    color: #b715f4
}

.codeColor .nl {
    color: #6b62de
}

.codeColor .nn {
    color: #007ca5
}

.codeColor .nt {
    color: #2f6f9f;
    color: #d60707;
}

.codeColor .nv {
    color: #033
}

.codeColor .o {
    color: #555;
    color: #d7caca;
}

.codeColor .ow {
    color: #000
}

.codeColor .w {
    color: #bbb
}

.codeColor .language-bash::before, .codeColor .language-sh::before {
    color: #adb5bd;
    content: "$ ";
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.codeColor .language-powershell::before {
    color: #009;
    content: "PM> ";
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

/* tooltip */


[tooltip] {
    position: relative;
}

[tooltip]::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    z-index: 100;
    opacity: 0;
    transition: all 250ms ease;
}

[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left: 50%;
    top: -6px;
    transform: translateX(-50%) translateY(-100%);
    background: #fff;
    text-align: center;
    color: #00afda;
    padding: 4px 8px;
    font-size: 14px;
    min-width: 80px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: all 250ms ease;
}

[tooltip-position='bottom']::before {
    top: 20%;
    margin-top: 50px;
    transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}

[tooltip-position='bottom']::after {
    top: 20%;
    margin-top: 50px;
    transform: translateX(-50%) translateY(0%);
}

[tooltip]:hover::after,
[tooltip]:hover::before {
    opacity: 1;
}

.success {
    font-family: "Poppins";
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: var(--white);
}

@media screen and (max-width:500px) {
    .reminder_for_small_devices {
        display: block;
    }

    [tooltip]::after {
        content: '';
        padding: 0;
    }

    [tooltip]::before {
        content: '';
        padding: 0;
        display: none;
    }

    .code-bg {
        height: 150px;
    }
}

#code-text {
    color: #fff;
}